<% layout("/layouts/boilerplate") -%>
<body>
 <!-- <form method="get" action="/listings/new">
  <button>Add a property</button>
 </form> -->
<div class="container">
 <h3 style="margin-left: 1rem;">Properties</h3>
</div>
 <div class="container" >
 
  <% for(listing of listings){ %>
  <div id="listing-card">
   <a href="/listings/<%=listing._id%>" class="listing-link">
   <div class="card" style="width: 18rem;">
    <img src="<%=listing.image.url%>" class="card-img-top" alt="image" style="height: 18rem;">
    <div class="card-body">
      <p class="card-text">
       <b> <%=listing.title%></b><br>
       &#8377; <%=listing.price%> / night
      </p>
    </div>
   </div>
  </div>
  </a>
   <% } %>

 </div>
 <!-- <button class="special-btn ai btn btn-dark ">Ask AI</button> -->
 <button class="btn btn-primary ai special-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
 AI Chat-Bot
</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Travel Planner</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Open AI chatbot again incase if it closes
      <div class="output">
      
        <% if(response){ %>
          <textarea rows="20" readonly style="width: 100%;flex-grow: 1;height: 100%;">
            <%=response%>
          </textarea>
         <%}%>
        
      </div>
      <div class="input">
       <form action="/listings/askAi" method="post">
        <input placeholder="Enter..." name="prompt" type="text">
        <button type="submit">Ask</button>
       </form>
      </div>
    </div>
  </div>
</div>
</body>
